html, body {padding:0;margin:0;}
body{ font-family: sans-serif; background: #ddd;color:#222}

*,*:before,*:after {
    box-sizing: border-box;
}

.Timeline *, .timer,button,.WelcomeMessage { transition-duration: 300ms; 
    transition-property: background-color, border-color, opacity,box-shadow, color, outline,margin; }

.Timeline .q {position: absolute; 
    border-radius: 10px; width:10px; margin-left:-5px; height: 10px; 
    background-color: #444; opacity: 0.8}
.Timeline .q.current {background-color: black; box-shadow: 0 0 0 3px black}
.Timeline .q.passed {background-color: brown;}
.Timeline .q.skipped {background-color: orange;}
.Timeline .q.answered {background-color: green;box-shadow: 0 0 2px green}

/* .Timeline .q.current::before {content: '';
    border-style: solid; border-width: 10px 20px 0; border-color:red transparent transparent;} */

.Timeline .q.biasHigh1 {margin-top:-4px;}
.Timeline .q.biasLow1 {margin-top:4px;}

.progress {position: absolute; top:-2px;bottom:0;left:0;
    background-color: #eee; border-top:solid 3px #c11;
    /* border-right:solid 1px silver; */
}

input.answer {padding:5px; font-size: large; vertical-align: middle;}
button {vertical-align: middle;  margin:0 8px;  padding: 3px 5px;
    background-color:#f3f3f3; border: solid 1px silver; cursor: pointer; }
button small {color:#555;}

/* layout */

.Game {display: flex; flex-direction: column; min-height: 100vh;}
.Game .Content {flex: 1;}
.Timeline {flex-grow: 0; flex-shrink: 0; position: relative; border-top: solid 1px gray; padding:5px; height: 22px;
background-color: white;}


.Content {position: relative; }
.CurrentQuestion {
    position: absolute; top:32px;left:32px;bottom:32px;right:32px;
}
.CurrentQuestion, .GameOver {
    border:solid 1px gray; padding:10px; background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}
.GameOver {text-align: center; margin:5em auto auto; display:block;max-width: 30em;}

.Question {overflow-y: auto; position: absolute; top: 5px;bottom: 66px; left:10px;right:10px;}
.Answer { height:50px; bottom:5px; left:5px;right:5px; position: absolute; text-align: center;
        margin:0;padding:0;} 

.Question .Title {margin:0;}

.timer.short .seconds {font-weight: bold; }
.timer.short {color:orange; }
.timer.lastchance {color:crimson;}
/* .timer .ms {font-size: small;} */
.timer {color:#559}
.timer.finished {color:#555}

.Answer .timer {display:inline-block;}

/* question */

.questionBody {white-space: pre-line;}
.questionBody blockquote {margin-bottom: 10px;
    padding: 10px;
    background-color: #FFF8DC;
    border-left: 2px solid #ffeb8e;
}
p {margin-top:0;margin-bottom: 0.6em;}
p:last-child {margin-bottom: 0;}
h1,h2 {margin:4px 0 8px;}
h1:first-child,h2:first-child {margin-top:0;}

.tag {display:inline-block; margin:4px 10px 6px 0; background-color: #f3f3f3; /*border: solid 1px silver;*/
    font-size: small; padding:3px 6px; color:#235;}


/* animations */

@keyframes currentQuestionDot {
    0% {box-shadow: 0 0 0 0 white;background-color: black;}
    /* 75% {box-shadow: 0 0 0 0 white;background-color: black;} */
    50% {box-shadow: 0 0 0 0 black;background-color: black;}
    100% {box-shadow: 0 0 0 3px black;background-color: white;}
}
.Timeline .q.current {animation-name: currentQuestionDot; animation-duration: 500ms ;
    animation-iteration-count: infinite;animation-direction: alternate;}

@keyframes flashShow {
    0% {opacity:0.3;transform: scaleX(0.2) scaleY(0.2);}
    50% {opacity:0.6;transform: scaleX(0.9) scaleY(0.2);}
    100% {opacity:1; transform: scaleX(1) scaleY(1);}
}
@keyframes fadeIn {
    0% {opacity:0.3;}
    100% {opacity:1;}
}

.CurrentQuestion.First, .GameOver {animation-name: flashShow; animation-duration: 300ms;}    
.CurrentQuestion .Question {animation-name: fadeIn;animation-duration: 300ms;}    

/* backgrounds */

.DownvoteBg{   
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ccc' fill-opacity='1'%3E%3Cpath d='M2 6h12L8 12 2 6zm18 36h12l-6 6-6-6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: 60px;
}

@keyframes backgroundUpvote {
    0% {background-position:0 60px;}
    100% {background-position:0 0;}
}
@keyframes backgroundUpvote2 {
    0% {background-position:30px 90px;}
    100% {background-position:30px 30px;}
}

.UpvoteBg, .UpvoteBg::before {   
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ccc' fill-opacity='1'%3E%3Cpath d='M2 24h48L24 0'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: 60px;
    animation-duration: 3s; animation-iteration-count: infinite; animation-timing-function: linear;
}
.UpvoteBg{
    animation-name: backgroundUpvote;
}
.UpvoteBg::before {     
    background-color: #ddd;
    background-position:30px 30px;
    position: absolute; top:0;bottom:0;left:0;right:0;
    content: '';
    animation-name: backgroundUpvote2;
    z-index: -1;
}

body {
    background-color: #ddd;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%23ccc' fill-opacity='1' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");    
}

.WelcomeMessage {text-align: center;}

.WelcomeMessage button { margin-bottom:10px; animation-name: startButton;animation-iteration-count: infinite;animation-direction: alternate;animation-duration: 500ms;  }
.WelcomeMessage button img { vertical-align: middle; }
.WelcomeMessage ul {  margin:0 0 8px; text-align: left; }

@keyframes startButton {
    0% {box-shadow: 0 0 0 transparent;}
    100% {box-shadow: 0 0 3px 1px #559;}
}

/*****/
.ShowSmallIframe {display:none;}

@media (max-height:250px){
    .ShowSmallIframe {display:block;}
    .HideSmallIframe {display:none;}

    .WelcomeMessage {margin-top:1em;}

    .FullPageArrow {position: absolute; right:0; top:0; font-size: 3em;
        animation-name: arrow;animation-iteration-count: infinite;animation-direction: alternate;animation-duration: 800ms;
    }
}

@keyframes arrow {
    0% {top:-5px; color:rgb(27, 65, 143);}
    100% {top:10px; color:black;}
}

@media (pointer:fine) {
    .ShowSmallIframe small {display:none;}
}